<html>
	<head>
		<style>
			table {
			    border-collapse: collapse;
			}
			table, tr, td {
			   border: 1px solid black;
			} 
		</style>
	</head>
	<body style="font-family:Calibri">
		<p>
			Bonjour, 
		</p>
		<p>
			Retrouvez ci-dessous le compte rendu des passages de statuts dans l'application organigramme pour la journée du ${dateHistorique} pour l'environnement  ${typeEnvironnement} : <br /> <br />
		</p>
		
		<table>
			<tr>
				<td>Sigle</td>
				<td>Libellé</td>
				<td>Date statut</td>
				<td>Heure statut</td>
				<td>Statut</td>
				<td>Sigle entité remplacée</td>
				<td>Libellé entité remplacée</td>
				<td>Code SISERVNW</td>
				<td>Code SISERV</td>
			</tr>
			#foreach($entiteHistoDto in $listeEntiteHistoDto)
			    <tr>
				    <td>$entiteHistoDto.sigle</td>
				    <td>$entiteHistoDto.label</td>
				    <td>${dateHistorique}</td>
				    <td>$entiteHistoDto.heureHisto</td>
				    <td>$entiteHistoDto.libStatut</td>
				    ##on traite le cas ou entiteRemplacée est null
				    #if ($entiteHistoDto.entiteRemplacee)
				    	<td>$entiteHistoDto.entiteRemplacee.sigle</td>	
				    	<td>$entiteHistoDto.entiteRemplacee.label</td>
				    #else
				    	<td> </td>
				    	<td> </td>
				    #end				    				    
				    <td>$entiteHistoDto.codeServi</td>
				    <td>$entiteHistoDto.codeServiAS400</td>
			  	</tr>
			#end
		</table>
		
		<br /><br />
		<p>
			Cordialement,
		</p>
		<br/>
		<div>
			<p><span style="font-size: 12px"><i>PS: Ne pas r&eacute;pondre &agrave; cet email. Ce message de notification est envoy&eacute; automatiquement par l'application ADS.</i></span></p>
		</div>
	</body>
</html>