<html>
	<head>
		<style>
			table {
			    border-collapse: collapse;
			}
			table, tr, td {
			   border: 1px solid black;
			} 
		</style>
	</head>
	<body style="font-family:Calibri">
		<p>
			Bonjour, 
		</p>
		<p>
			Pour information, la DRH a mis en place de nouveaux codes services liés à la réorganisation municipale en cours.<br />
			Ci-dessous vous avez la liste des modifications effectuées sur le référentiel des codes services  pour la journée du ${dateHistorique} : <br /> <br />
		</p>
		
		<table>
			<tr>
				<td>Sigle</td>
				<td>Libellé</td>
				<td>Date statut</td>
				<td>Heure statut</td>
				<td>Statut</td>
				<td>Sigle entité remplacée</td>
				<td>Libellé entité remplacée</td>
				<td>Code SISERVNW</td>
				<td>Code SISERV</td>
			</tr>
			#foreach($entiteHistoDto in $listeEntiteHistoDto)
			    <tr>
				    <td>$entiteHistoDto.sigle</td>
				    <td>$entiteHistoDto.label</td>
				    <td>${dateHistorique}</td>
				    <td>$entiteHistoDto.heureHisto</td>
				    <td>$entiteHistoDto.libStatut</td>
				    ##on traite le cas ou entiteRemplacée est null
				    #if ($entiteHistoDto.entiteRemplacee)
				    	<td>$entiteHistoDto.entiteRemplacee.sigle</td>	
				    	<td>$entiteHistoDto.entiteRemplacee.label</td>
				    #else
				    	<td> </td>
				    	<td> </td>
				    #end				    				    
				    <td>$entiteHistoDto.codeServi</td>
				    <td>$entiteHistoDto.codeServiAS400</td>
			  	</tr>
			#end
		</table>
		
		<br /><br />
		<p>Ces changements pourraient avoir un impact sur le système d’information dont vous avez la charge, exemple :</p>
		<ul>
  			<li>Gestion financière</li>
  			<li>Gestion du courrier</li>
  			<li>Gestion des véhicules</li>
  			<li>Gestion des listes de diffusions</li>
  			<li>Répertoires sur « cristal »</li>
		</ul>
		<p>
			Pour toute remarque relative aux sigles et aux intitulés des services, merci de contacter la DRH.<br /><br />		
			Pour tout autre problème, merci de contacter la DSI au 6189 ou via EasyVista.
		</p>
		<br/>
		<div>
			<p><span style="font-size: 12px"><i>PS: Ne pas r&eacute;pondre &agrave; cet email. Ce message de notification est envoy&eacute; automatiquement par l'application ADS.</i></span></p>
		</div>
	</body>
</html>