<html>
	<head>
		<style>
			
		</style>
	</head>
	<body style="font-family:Calibri">
		<p>
			Bonjour, 
		</p>
		<p>
			Ci-joint le bordereau r&eacute;capitulatif d&eacute;stin&eacute; &agrave; la Mutuelle des Fonctionnaires.
			<br />Merci de v&eacute;rifier la coh&eacute;rence des donn&eacute;es avant de l'imprimer, de le signer puis de l'envoyer &agrave; la Mutuelle des Fonctionnaires.
		</p>
		<p>
			Cordialement.
		</p>
		<br/>
		<div>
			<p><span style="font-size: 12px"><i>PS: Ne pas r&eacute;pondre &agrave; cet email. Ce message de notification est envoy&eacute; automatiquement par l'application SIRH.</i></span></p>
		</div>
	</body>
</html>