<html>
	<head>
		<style>
			
		</style>
	</head>
	<body style="font-family:Calibri">
		<p>
			Bonjour, 
		</p>
		<p>
			Une erreur s'est produite durant la g&eacute;n&eacute;ration du bordereau r&eacute;capitulatif de d&eacute;claration des r&eacute;mun&eacute;rations d&eacute;stin&eacute; &agrave; la Mutuelle des Fonctionnaires et concernant le personnel ${labelEntite}.
			<br />Les &eacute;quipes techniques de la DSI sont inform&eacute;es de ce probl&egrave;me et reviendront vers vous d&egrave;s que possible.
		</p>
		<p>
			Cordialement.
		</p>
		<br/>
		<div>
			<p><span style="font-size: 12px"><i>PS: Ne pas r&eacute;pondre &agrave; cet email. Ce message de notification est envoy&eacute; automatiquement par l'application SIRH.</i></span></p>
		</div>
	</body>
</html>