<html>
	<head>
		<style>
			
		</style>
	</head>
	<body style="font-family:Calibri">
		<p>
			Bonjour, 
		</p>
		<p>
			Des absences maladie ont &eacute;t&eacute; saisies pour certains de vos agents.<br />
			Vous pouvez aller les consulter sur le kiosque RH dans "Gestion des demandes" - Onglet "Toutes les demandes".
		</p>
		<p>
			<a href="${adresseKiosque}">${adresseKiosque}</a> 
		</p>
		<p>
			Cordialement.
		</p>
		<br/>
		<div>
			<p><span style="font-size: 12px"><i>PS: Ne pas r&eacute;pondre &agrave; cet email. Ce message de notification est envoy&eacute; automatiquement par l'application SIRH.</i></span></p>
		</div>
	</body>
</html>